# General
*.log
*.pdf
*.png

# IDE
.idea/
.vscode/

# Python
*.pyc
__pycache__/

# Virtualenv
venv/

# Databases
*.sqlite3
db/

# Migrations
migrations/

# Javascript
node_modules/
build

# Environment Variables
# .env 

# Assets
static/
media/
assets/
requirementsdev.txt
Info.md